@import url('https://fonts.googleapis.com/css2?family=Sancreek&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono&display=swap');
@import "tailwindcss";


:root {
  background: #c3976a;
  padding: 40px;
}

@theme {
  --color-primary: "#c3976a";
  --font-title: "Sancreek", serif;
  --font-subtitle: "Geist Mono", serif;
}